html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: arial,sans-serif;
}

#parent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  box-sizing: content-box;
  width: 100%
}

a:hover {
  color: #000000;
  cursor: pointer;
}

.content-area {
  display: flex;
  min-height: 0;
  box-sizing: 100%;
  width: 100%
}

.sidebar {
  width: 500px;
  height: 100%;
  padding: 20px 15px;
  box-sizing: border-box;
  text-align: left;
  border-right: 1px;
  display: flex;
  flex-direction: column;
}
.sidebar-top {
  flex-grow: 1;
  border-bottom: 1px;
  overflow: auto;
}

.scrollbar {
margin-left: 30px;
float: left;
height: 300px;
width: 65px;
background: #fff;
overflow-y: scroll;
margin-bottom: 25px;
}


.sidebar h3 {
  font-size: 48px;
  font-weight: 800;
  text-align: left;
  color: #000000;
}
/*fix sidebar image size*/
.sidebar img {
  max-width: 100%;
}

.flyTo-button {
  border-bottom: 2px solid;
  border-radius: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 9px;
  background: #ffffff;
  font-family: arial,sans-serif;
  margin-bottom: 8px;
  cursor: pointer;
  outline: none;
}

.flyTo-button:hover {
background: #dcf7ee;
}

.garden-title {
color: black;
}

/* .button-solid {
    border: none;
    background-color: #ffffff;
}
button-solid:focus {
    border: none;
    outline: none;
}
.button-solid:hover {
background: #dcf7ee;
} */

#mapContainer {
  backgroundColor: #ccc;
  flex-grow: 1;
  box-sizing: parent-container;
  width: 100%
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 90px;
  margin-bottom: 40px;
  width: 170px;
}
